{
    "TCP": {
        "443": {
            "HTTPS": true
        }
    },
    "Web": {
        "food.${TS_DOMAIN}:443": {
            "Handlers": {
                "/": {
                    "Proxy": "http://127.0.0.1:9000"
                }
            }
        }
    }
}
