.vscode
.idea

.env
config
!config/caddy/Caddyfile
!config/homepage/{services.yaml,settings.yaml}
metadata
!config/tailscale/sidecars/*.json.template
!config/caddy/Caddyfile.template
!config/homepage/services.yaml.template
