{
    admin off
}

# Routes definition template
(hub_routes) {
    handle /sonarr* {
        reverse_proxy sonarr:8989
    }

    handle /radarr* {
        reverse_proxy radarr:7878
    }

    handle /prowlarr* {
        reverse_proxy prowlarr:9696
    }

    # Hack for qbittorrent to work with port (redirect from `host/:8081` to `host:8081`)
    handle /:8081 {
        redir http://{host}:8081 permanent
    }

    handle {
        reverse_proxy homepage:3000
    }
}

media.tilapia-smelt.ts.net {
    tls {
        get_certificate tailscale
    }

    import hub_routes
}

# This allows access via http://192.168.x.x without port
:80 {
    import hub_routes
}

# qbittorrent does not have base URL settings, access via port
media.tilapia-smelt.ts.net:8081 {
    tls {
        get_certificate tailscale
    }

    reverse_proxy qbittorrent:8081
}
